<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Page 5</title>
  <style>
    {{{injectedStyle}}}
  </style>
</head>
<body>
  <div class="heading-block">
    <div class="heading">
      <div class="icon-bar"></div>
      <h1>回答の集計結果</h1>
    </div>
    <hr class="heading-line" />
  </div>

  <table class="result-table">
    <thead>
      <tr>
        <th>No.</th>
        <th>設問</th>
        <th>回答分布</th>
        <th>平均点</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>問1</td>
        <td>あなたの上司は、会社（チーム）の「ビジョンや目標を明確に伝えている」と感じますか？</td>
        <td>
          <div class="bar-container">
            <div class="bar-segment s5" style="width: {{q_1_pct_5}}%"></div>
            <div class="bar-segment s4" style="width: {{q_1_pct_4}}%"></div>
            <div class="bar-segment s3" style="width: {{q_1_pct_3}}%"></div>
            <div class="bar-segment s2" style="width: {{q_1_pct_2}}%"></div>
            <div class="bar-segment s1" style="width: {{q_1_pct_1}}%"></div>
          </div>
        </td>
        <td>{{q_1_ave}}</td>
      </tr>

      <tr>
        <td>問2</td>
        <td>あなたの上司が示しているビジョン（目指す姿）に「そうなりたい、達成したい」と共感していますか？</td>
        <td>
          <div class="bar-container">
            <div class="bar-segment s5" style="width: {{q_2_pct_5}}%"></div>
            <div class="bar-segment s4" style="width: {{q_2_pct_4}}%"></div>
            <div class="bar-segment s3" style="width: {{q_2_pct_3}}%"></div>
            <div class="bar-segment s2" style="width: {{q_2_pct_2}}%"></div>
            <div class="bar-segment s1" style="width: {{q_2_pct_1}}%"></div>
          </div>
        </td>
        <td>{{q_2_ave}}</td>
      </tr>

      <tr>
        <td>問3</td>
        <td>あなたは、上司の『発言と行動が一致している』と感じていますか？</td>
        <td>
          <div class="bar-container">
            <div class="bar-segment s5" style="width: {{q_3_pct_5}}%"></div>
            <div class="bar-segment s4" style="width: {{q_3_pct_4}}%"></div>
            <div class="bar-segment s3" style="width: {{q_3_pct_3}}%"></div>
            <div class="bar-segment s2" style="width: {{q_3_pct_2}}%"></div>
            <div class="bar-segment s1" style="width: {{q_3_pct_1}}%"></div>
          </div>
        </td>
        <td>{{q_3_ave}}</td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </tbody>
  </table>
</body>
</html>
